@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-style: normal;
    line-height: 18px;
    font-family: "Roboto" sans-serif;   
}

body{
    background-color: #E5E5E5;
}
.container{
    width: 375px;
    background-color: #F4F4F4;
    margin: 0px auto;  
}
header {
    background-color: rgb(94, 139, 108);
    height: 66px;
}
h1 { 
    font-weight: normal;
    font-size: 24px;
    color: #F4F4F4;
    text-align: center;
    padding-top:22px;
}
main{
    padding: 24px;
}
label{
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}
select{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 6px 0px 24px 0px;   
}
input{
    display: block;
    margin: 6px 0px 24px 0px ;  
    width: 100%;
    height: 48px;
    font-size: 18px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
    padding-left: 16px;
}
button{
    background: #1B83E2;
    border-radius: 25px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-bottom: 36px;
    color: #F4F4F4
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.7;
}
section{
    border: 1px solid #1B83E2;
    box-sizing: border-box;
    border-radius: 4px;
}
.section-container{
    text-align: center;
    padding: 10px;
}
.currency-value{
    font-size: 20px;
    color: #1B83E2;
}
.currency-name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}
.arrow-img{
   display: block;
   margin: 15px auto;
}